@font-face {
    font-family: Gaz;
    src: url(Gaz.ttf);
}



.img{
    display: flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}
.imgtitle{
    height: 139px;
    width: 386px;
    justify-content: left;
    padding-top: 16px;
  
}

.imgtitlesub{
    height: 139px;
    width: 386px;
    justify-content: left;
    padding-top: 16px;
  
}

.imgtitlesub:hover{
    content: url("vrmaindr.png");
  
}

body{
    margin: 0px;
}

.navbar{
    border-top: 3px solid rgb(234, 4, 27);
    border-right: 3px solid rgb(234, 4, 27);
    border-left: 3px solid rgb(234, 4, 27);
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap:nowrap;
    overflow: hidden;
    font-size: 50px;
    font-family: 'Gaz'

    
}

.navtext{
   padding-top: 60px; 

}
.navbar a{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
   
}
.navbar a.active{
    color: rgb(234, 4, 27);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(234, 4, 27);
}

.navbar a:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(234, 4, 27);
}
.navbar li{
    float: left;
    white-space: nowrap;
}

.center{
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

.img2{
    display: flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: auto;
    max-width: 90%;
}

.img img{
    width: 80%;
    height: auto;
    max-width: 90%;

    
}

.titletext{
    font-family: Arial, Helvetica, sans-serif;
    color :antiquewhite
}

.bgcolor{
    background-color: black;
}

.m1{
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(234, 4, 27);
    border-top: 3px solid rgb(234, 4, 27);
    color:rgb(234, 4, 27);

}

.ss{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}

.ss img{
    flex-shrink: 1;
    height: auto;
    max-width: 45%;
    margin: 5px;
}
.red{
    color: rgb(234, 4, 27);
    margin-left:auto;
    margin-right:auto;
}

.container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.container img{
    width: 99%;
    height: auto;
    max-width: 95%;
    min-width: 75%;
}

.outcontainer{
    text-align: center;
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  rgb(234, 4, 27);
    color: black;


}

.outcontainersmall{
    text-align: center;
    font-size: 24px;
    color: rgb(234, 4, 27);


}
.btn{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    

}

.btnimgcontainer{
    display:flex;
    justify-content: center;
 
   
}

.btnimgcontainer img{
    height: auto;
    max-width: 100%;
   
}
.btnimgcontainer a{
    height: auto;
    max-width: 100%;
  
}

.imgcontainer button{
    margin-right: 10px;
}

@media (max-width: 768px) {
    .navbar ul {
        font-size: 20px;
        justify-content: space-evenly; /* Adjust spacing */
        flex-wrap: wrap;
    }

    .imgtitle {
        max-width: 120px; /* try smaller until it fits */
        height: auto;
        padding-top: 5px;
    }

    .imgtitlesub {
        max-width: 120px; /* try smaller until it fits */
        height: auto;
        padding-top: 5px;
    }

    .navtext {
        padding-top: 14px; /* Reduce padding */
    }

    .navbar a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .m1 {
        font-size: 25px;
    }
}
