.img{
    display: flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}


.img2{
    display: flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: auto;
    max-width: 90%;
}

.img img{
    width: 80%;
    height: auto;
    max-width: 90%;

    
}

.titletext{
    font-family: Arial, Helvetica, sans-serif;
    color :antiquewhite
}

.bgcolor{
    background-color: black;
}

.m1{
    background-color: rgb(234, 4, 27);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color:black

}

.ss{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}

.ss img{
    flex-shrink: 1;
    height: auto;
    max-width: 45%;
    margin: 5px;
}
.red{
    color: rgb(234, 4, 27);
    margin-left:auto;
    margin-right:auto;
}

.container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.container img{
    width: 99%;
    height: auto;
    max-width: 95%;
    min-width: 75%;
}

.outcontainer{
    text-align: center;
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  rgb(234, 4, 27);
    color: black;


}
.btn{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    

}

.btnimgcontainer{
    display:flex;
    justify-content: center;
    margin-left: -150px;
   
}

.btnimgcontainer img{
    flex-shrink: 1;
    height: auto;
    max-width: 65%;
    margin: 5px;
   
}

.imgcontainer button{
    margin-right: 10px;
}