@font-face {
    font-family: Gaz;
    src: url(Gaz.ttf);
}

#products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}




.product-card {
  width: 100%;
  max-width: 450px;  /* Smaller than 550px */
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 0 auto;  /* Center it with auto margins */
  border: 3px solid #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; /* ensures children (image, title) stay centered */
  box-sizing: border-box;
}

.product-card__title {
  font-family: 'Gaz';
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-text-stroke: 1px white;
  color: black;
  font-weight: 400;
}

.product-card__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 3px solid #ffffff;
  display: block;

}

.product-card__price{
  font-family: 'Gaz';
  font-size: 35px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  -webkit-text-stroke: 1px white;
  color: black;
  font-weight: 400;
}

.product-card:hover {
  border: 3px solid #ea041b;
}


.product-card:hover .product-card__image{
  border: 3px solid #ea041b;
}

.product-card:hover .product-card__title {
  -webkit-text-stroke-color: #ea041b;
}

.product-card:hover .product-card__price {
  -webkit-text-stroke-color: #ea041b;
}

.product-card:active .product-card__title{
    color: #ea041b;
    -webkit-text-stroke-color: none;
}

.product-card:active .product-card__price{
    color: #ea041b; 
    -webkit-text-stroke-color: none;
}


@media screen and (max-width: 768px) {
  #products-container {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 4rem;
  }

  .product-card {
  width: 100%;
  max-width: 300px;  /* Smaller than 550px */
  
}
}